#Resume1{
    margin-top: 90px;
}
.br{
    color: white;
    background-color: transparent;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    height: 53px;
    width: 120px;
    border: 1px #1e1e1e solid;
    font-size: 20px;
    opacity: 80%;
}
#dow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.br:hover{
    background-color: #1e1e1e;
    opacity: 100%;
    cursor: pointer;
    transition: all 0.6s;
}